{% extends 'base.html' %}


{% block content %}
    <div>
        <div class="post-entry">
            <h2>{{ post.title }}</h2>
            <div class='row'>
                <div class='col text-center pt-3'>
                    <p>{{ post.body }}</p>
                    <p>{{ post.date }}</p>
                </div>
            </div>
        </div>
    </div>

    
    <div class='container'>
    <div class='jumbotron'>
        {% if new_comment %}
            <div class='container'>
                    <p class='bg-danger text-white text-uppercase text-center'>You Posted</p>
            {% else %}
                <h3>Leave a comment</h3>
                <form action="" method="POST"></form>
                    {{ comment_form.as_p}}
                    {% csrf_token %}
                    <button type='submit'>Submit</button>
                </form>
            </div>
        {% endif %}
        </div>
    </div>
    </div>
    h2>{{ post.comments.count }}  Comments</h2>
    {% for comment in comments %}
        <ul class="list-group p-2">
            <div class='row'>
                <div class='col'>
                    <li class="list-group-item pt-3">
                        {{ comment.created_on}}
                        <br>
                        Name : <span class='text-uppercase'>{{ comment.name }}</span>
                        <br>
                        Commented: {{ comment.body}}
                        <br>
                        {{ article.author }} 
                    </li>
                    </div>
                    <div>
                </div>
                <div class="col"></div>
                <div class="col"></div>

            </div>
        </ul>
    {% endfor %}
        
    <a href="{% url 'post_edit' post.pk %}"> Edit Blog Post</a>
    <br>
    <a href="{% url 'post_delete' post.pk %">Delete Blog</a>
{% endblock content %}
    